

$primary-color:#6817FF;
$primary-color_2:#955DFF;
$primary-color_3:#D1B9FF;
$primary-color_4:#F0E8FF;
$primary-color_a:#4806C1;

$secondary-color:#8A49FF;
$secondary-color_2:#AD7FFF;
$secondary-color_3:#DCC8FF;
$secondary_color_4:#F3EDFF;

$tertiary-color:#FFA300;
$tertiary-color_b:#c47d04;
$tertiary-color_2:#FFBE4D;
$tertiary-color_2_5:#FFD58B;
$tertiary-color_3:#FFE3B3;
$tertiary-color_4:#FFF5E6;
$tertiary-color_a:#A36901;

$light-color:#ffffff;
$dark-color:#2d2d2d;
$gray-color:#D9D9D9;
$gray-primary:#4D4D53;
$gray-secondary:#323232;
$gray-tertiary:#717171;
$gray-quaternary:#F8F8F8;
$font-primary-light:white;

$green:#099588;
$red:#FF6262;
$green_a:#6BAF53;
$yellow_a:#FFB648;
$gray_a:#AFAFAF;

