@import "../styles/Global.scss";

.BackgroundPrincipal{
    background-color: $gray-primary;
}
.BackgroundSecondary{
    background-color: $gray-secondary;
}

.DeveloperLogo{
    display: inline-block;
    max-width: 40px;
    filter: grayscale(1);
    vertical-align: middle;
}

.DeveloperText{
    color:$gray-color;
    font-family: 'Poppins', sans-serif;
    font-size: 0.8rem;
    vertical-align: middle;
}