name: CD Desarrollo VigiA - Frontend
on:
  push:
    paths-ignore:
      - "*.md"
    branches: [develop]
  pull_request:
    types: [closed]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Instalar dependencias
        run: npm install
      - name: Construyendo archivos estaticos
        run: npm run build
        env:
          NEXT_PUBLIC_BACKEND_URL: ${{ secrets.DEV_NEXT_PUBLIC_BACKEND_URL}}
          NEXT_PUBLIC_FRONTEND_URL: ${{ secrets.DEV_NEXT_PUBLIC_FRONTEND_URL }}
          NEXT_PUBLIC_TWITTER_USER: ${{ secrets.DEV_NEXT_PUBLIC_TWITTER_USER}}
          NEXT_PUBLIC_API_KEY: ""
          NEXT_PUBLIC_COGNITO_CLIENT_ID: ${{ secrets.NEXT_PUBLIC_COGNITO_CLIENT_ID}}
          NEXT_PUBLIC_COGNITO_USER_POOL_ID: ${{ secrets.NEXT_PUBLIC_COGNITO_USER_POOL_ID}}
          NEXT_PUBLIC_COGNITO_REGION: ${{ secrets.NEXT_PUBLIC_COGNITO_REGION}}
          NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID: ${{ secrets.NEXT_PUBLIC_COGNITO_IDENTITY_POOL_ID}}
      - uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY}}
          aws-region: sa-east-1
      - name: Subir archivos a S3    
        run: npm run deploy-dev